@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Poor+Story&display=swap');

/* 스크롤바 스타일 설정 */
/* 모든 브라우저에서 스크롤바를 배경에 보이지 않게 설정 */
/* 스크롤바 막대 부분만 아주 작게 모서리 둥글게 설정하여 보이게 함 */


.mbtiLayout{
  position : relative;
  /*모바일 흐름장에서 볼 때 주소창과 네이게이션과의
    높이는 고려하지 않고 계산이 되어서, 
    불필요한 스크롤이 생기기 때문이다.*/
  width: 100vw; // heigth는 100vh로 쓰지 않는다.
  height: calc(var(--vh,1vh)*100); // var() : Css변수를 가져오고, 값이 없을경우 기본값으로 1vh를 사용.
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #eee;
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
  // max-width: 900px;

  .startPageLayout{
    position: absolute;
    animation: start 1s running ease;
    // animation-name: jaehee;
    // animation-duration:2s;
    // animation-play-state : running;
    // animation-timing-function:ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    width: 100%;
    max-width: 900px;
    height: 100%;
    color: #413730;

    /* 키프레임 이름 = 애니메이션 이름 */
    @keyframes start {
      0% {
        opacity : 0; // 에니메이션 투명하게
        top:-40px;
        // left: -100px;
      }
      
      100% {
        top:0px;
        opacity: 1; // 애니메이션 선명하게
        // left: 0px;
        
      }
    }

    .startLogo{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 25px;
      font-weight: 700;
    
      //울산대학교
      > div:nth-child(1){
        // background-color: #413730;
        color: #00A664;
        width: 200px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        font-size: 30px;
      }

      //새내기 유형 테스트
      > div:nth-child(2){
        margin-top:-25px;
        font-size: 30px;
        margin-bottom: 15px;
        color: #333333;
      }
      // 메인 사진 
      > img:nth-child(3){
        margin-top:15px;
        width: 300px;
        height: 300px;
        // background-color:#00A664;
        box-shadow: 0 5px 5px #8f8f8f;
        
        border-radius: 10px;
      }

    }
    
    // 테스트 시작하기
    .startButton{
      
      background-image: linear-gradient(to right, #00A664, #54d892); /* 그라데이션 */
      box-shadow: 0 5px 5px #5c5c5c;
      width: 300px;
      height: 95px;

      text-align: center;
      line-height: 95px;
      // font-size: 17px;
      font-weight: 700;
      color: #C0FFF6;
      font-weight: bold;
      font-size: 30px;

      border-radius: 15px;
      margin-top: 40px;
      cursor:  pointer; // 마우스를 올렸을 때 커서를 손바닥 모양으로 변경
    }

    // 현재까지 N명의 새내기가 참여했어요.
    .startIntro{
      margin-top: 20px;
      color: #333333;

      font-size: 20px;
      text-align: center;
    }
  }

  // 질문 레이아웃
  .questionLayout{

    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 100%;
    max-width: 900px;
    height: 100%;
    overflow: hidden; // 스크린 없애기

    // MBTI 제목
    .mbtiTitle{
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      padding:15px;
      box-sizing: border-box;
      font-weight: 700;

      >div:nth-child(1){ //"JINY"
        display: flex;
        // flex:1; // 1을 줘서, 화면 비율에 따라 유연하게 늘어나거나 줄어들 수 있음을 만드는 속성
      }
      // 프로그레스 바
      .progress_bar{
        // display: flex;
        box-sizing: border-box;
        background-color: #F5F5F5;

        // width: 60%;
        height: 15px;
        border-radius: 10px;

        flex: 1;

        display: flex;
        flex-direction: row;

        .progress_bar_inner{
          // width:10%;
          background-color: #00A664;
          border-radius: 10px;

          // 프로그레스바 애니메이션
          transition: width 0.3s ease; // width가 변경될때마다 애니메이션 발생.

        }
      }

    }
    // 질문리스트
    .questionList{
      flex-direction: column;
      
      height: 100%;
      overflow: scroll;
      scrollbar-width: none; // 스크롤바 표시는 없지만, 여전히 스크롤 가능
      // background-color: #ffffff;
      // border: 3px solid red;

      .questionItemLayout{
        
        display: flex;
        flex:1;
        margin : 30px 15px 5px 15px;
        // flex-direction: column;
        // align-items: center;
        // justify-items: center;
        // 상대방 채팅 박스 영역
        .chatListLayout{
          position: relative;
          animation: question 0.4s running ease; // 애니메이션
          display: flex;
          flex-direction: column;
          // 채팅 하나하나 박스
          .chatBox{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 90vw;
            margin: 3px 0px 12px 0px;
            
            // 질문 번호, Q1 
            >div:nth-child(1){
              
              color: #00A664;
              font-size: 12px;
              margin-top : 8px;
              height: 40px;
              width: 60px;
              font-size: 30px;
              font-weight: bold;
              margin-left: 20px;
            }
            // 질문 내용, 입시가 끝나고..
            >div:nth-child(2){
              
              padding: 7px 10px 7px 10px;
              // background-color: #fff;
              // margin-left:-4px;
              border-radius: 10px;
              text-align: left;
              // margin-top : 8px;
              margin-left: 20px;

              
              color: #333333;
              font-size: 19px;
              font-weight: bold;
              line-height: 24px; // 줄간격 조정

            }



          }

          // 질문 애니메이션
          @keyframes question {
            0% {
              opacity : 0; // 에니메이션 투명하게
              left:100%;
              // left: -100px;
            }
            
            100% {
              left:0px;
              opacity: 1; // 애니메이션 선명하게
              // left: 0px;
              
            }
          }
          /* 키프레임 이름 = 애니메이션 이름 */


        }
      }



      // 답변 리스트
      .answerItemLayout{
        flex:2;
        // width: 100%;
        // background-color: #fff;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: bold;

        .answerBox{
          animation: answer 1.3s running ease; // 애니메이션

          width: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          text-align: center;
          box-shadow: 0 5px 5px #5c5c5c;
          border:1px solid #ededed;
          background-color: #F5F5F5;
          margin: 0px 20px 15px 20px;
          border-radius: 20px;
          cursor: pointer; // 포인터가 손가락 모양으로 보이도록
        
          &:hover {
            background-color: #54D892; /* 호버 효과에 따른 배경색 변경 */
          }
        }
        
        // 답변 애니메이션
        @keyframes answer {
          0% {
            opacity : 0; // 에니메이션 투명하게

          }
          
          100% {
            opacity: 1; // 애니메이션 선명하게
          }
        }

      }
    }

    .questionList::-webkit-scrollbar{
      display: none; // 스크롤바가 숨겨지지만, 스크롤 기능은 유지한다.
    }


    }




    .resultLayout{
        position: relative;
        animation: end 1s running ease;
        // 질문 레이아웃
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        align-items: center;


        width: 100%;
        max-width: 900%;
        height: 100%;

        box-sizing: border-box;
        padding-top: 30px;

      // 타이틀
      .result_title_Layout{
        display: flex;
        flex-direction: column;
        align-items: center;

        // 나의 새내기 유형은?
        >div:nth-child(1){
          font-size: 15px;
          color: #848484;
        }

        // 0000형?
        >div:nth-child(2){
          font-size: 25px;
          color: #333333;
          font-weight: bold;

        }

        // 결과 MBTI (ISFP)
        >div:nth-child(3){
          font-size: 20px;
          color: #00A664;
          font-weight: bold;
          
        }

        >img:nth-child(4){
          margin-top:15px;
          width: 250px;
          height: 250px;
          // background-color:#00A664;
          box-shadow: 0 5px 5px #8f8f8f;
          
          border-radius: 10px;

          margin-bottom: 15px;
        }
      }

      // MBTI 내용 설명 (MBTI는요, 어떤어떤 유형이에요.)
      .result_example{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: bold;
        width: 280px;
        
        // MBTI는요,
        >div:nth-child(1){
          color: #00A664;
          font-weight: bold;
          font-size: 20px;
        }
      }

    hr{
      width: 300px;
      height: 1px;
      margin-top: 10px;
      margin-bottom: 10px;
      // border-radius: 1px;
    }

    .result_mbtis{
      box-sizing: border-box;
      width: 300px;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap:30px;

      margin-bottom: 10px;

      .mbti_item{
        box-sizing: border-box;
        flex: 1;
        display: flex;
        
        flex-direction: column;
        background-color: #F5F5F5;
        border-radius: 10px;
        box-shadow: 0 3px 4px #5c5c5c;
        overflow-y: scroll; // 사이즈가 넘어가면, 스크롤 생김

        //------------ 스크롤바 설정 -------------- //
        &::-webkit-scrollbar{
          width: 2px; // 스크롤나 너비
          height : 3px; // 스크롤바 높이 
        }

        // 스크롤 막대
        &::-webkit-scrollbar-thumb{
          background-color:  hsla(138, 49%, 75%, 0.772);
        
        } 
        
        //------------ 스크롤바 설정 -------------- //

        >div:nth-child(1){
          min-height: 30px;

          font-size: 15px;
          background-color: #54D892;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          font-weight: bold;
          text-align: center;
          
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
        
        .mbtis{
          box-sizing: border-box;
          padding-left: 10px;
          list-style: none; // 스타일을 없애준다. (점을 없앰)
          margin-top: 2px;
          margin-bottom: 2px;
          font-weight: 545;
          font-size: 13px;
          
          .mbtis-li::before { // li 전에, 별을 넣어주자.
            content: "⭐ ";
          }
        }

        
      }




    }

    .result_btn_Layout{
      box-sizing: border-box;
      width: 300px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap:15px;

      margin-bottom: 15px;


      // 다시하기, 공유하기 버튼 
      >div{
        
        background-image: linear-gradient(to right, #00A664, #54d892); /* 그라데이션 */
        border-radius: 15px;

        color: #C0FFF6;
        font-weight: bold;
        font-size: 22px;

        flex: 1;

        box-sizing: border-box;

        border: 2px solid #333333;

        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0 3px 4px #5c5c5c;

        cursor: pointer;

        
      }
    }
        /* 키프레임 이름 = 애니메이션 이름 */
    @keyframes end {
      0% {
        opacity : 0; // 에니메이션 투명하게
        top:-40px;
        // left: -100px;
      }
      
      100% {
        top:0px;
        opacity: 1; // 애니메이션 선명하게
        // left: 0px;
        
      }
    }
  }
}

